.mainfooter {
    padding-top: 60px;
    background-color: #d9d9d9;
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    justify-content: center; 
    font-family: 'Poppins', sans-serif; 
    color: #333; 
}

.text {
    margin: 7px 2px;
    font-size: 18px; /* Increase font size */
    line-height: 1.5; /* Improve line spacing */
    display: flex; 
    align-items: center;
}

.logo {
    padding-top: 10px;
}

/* Additional styles for hover effects on links, if any */
.text a {
    color: #333; /* Link color */
    text-decoration: none; /* Remove underline */
}

.text a:hover {
    text-decoration: none; /* Underline on hover */
}