.mainfooter {
    padding-top: 60px;
    background-color: #d9d9d9;
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    justify-content: center; 
    font-family: 'Poppins', sans-serif; 
    color: #333; 
}

.text {
    margin: 7px 2px;
    font-size: 18px; 
    line-height: 1.5; 
    display: flex; 
    align-items: center;
}

.logo {
    padding-top: 10px;
}

.text a {
    color: #333; 
    text-decoration: none; 
}

.text a:hover {
    text-decoration: none; 
    color: #5F9AFF;
}