.sideNavbar {
    position: sticky;
    top: 0;
    margin-top: 20px;
    margin-left: 1%;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.logoImage {
    width: 100px;
}

.menuList {
    list-style: none;
    /* text-align: center; */
    padding: 0;
    margin: 0;
}

.menuItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.menuItem :hover {
    color: #5f9aff;
}

.menuTitle {
    font-weight: bold;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.dropdownItem {
    padding: 5px 0;
    cursor: pointer;
    color: #555;
}

.dropdownItem:hover {
    color: #0073e6;
}
