@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
    font-family: "Poppins", sans-serif; /* Set the global font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #f4f4f4; /* Optional: Set a background color */
    color: #333; /* Optional: Set a default text color */
}

/* Additional styles can go here */
