.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 800px;
  height: 350px;
  margin: 10px auto;
}

.textContainer {
  flex: 1;
  margin-right: 1%;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  margin-left: 20px;
  margin-bottom: 20px;
}

.button {
  background-color: #6a3ef2;
  color: white;
  padding: 3px 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
